<div>
    <h1>Session</h1>
    <form method="POST" action="/session/login">
        <label>email</label>
        <input name="email">
        <br />
        <label>password</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
