<div>
    <h1>Session</h1>
    <form method="POST" action="/session/login">
        <label>username</label>
        <input name="username">
        <br />
        <label>password</label>
        <input name="password">
        <input type="submit">
    </form>
    <a href="session/github">
    Entrar con gitHub</a>
</div>
