* {
  margin: 0px;
  padding: 0px;
  color: white;
}
body {
  background-color: rgb(14, 14, 14);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  margin: 20px;
  color: white;
  list-style: none;
  text-decoration: none;
}
ul {
  display: flex;
}
.nav{
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
}
.menu{
  background-color: rgb(31, 31, 34);
}
ul {
  list-style: none;
  color: white;
}
h1 {
  text-align: center;
  font-size: 30px;
  margin: 13px;
}
h4 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#chatbox{
  background-color: white;
  color: black;
}
.caja{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
  margin: 13px;
  border: 1px solid white;
  border-radius: 5px;
}
.barra {
  background-color: rgb(31, 31, 34); 
  display: flex; 
  flex-direction: row-reverse;
}
.dirigir{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
form {
  margin: 0px 20px
}
.btngit {
  background-color: rgb(31, 31, 34); 
}
.btn {
  color: black;
}